_site/
*.pyc
.DS_Store
.doit.db
cache/
output/
.DS_Store
"Icon\r"
.dropbox
*pyc
PLAN_PRINCIPE_PROTO/
Presentation-Dossier-Artistique/
TESTS_TRAME/
posts/.ipynb_checkpoints
.ipynb_checkpoints
src/elasticite.egg-info
posts/__temp__*
screenshot.png
Iconr
elasticite/elasticite.egg-info/dependency_links.txt
elasticite/elasticite.egg-info/PKG-INFO
elasticite/elasticite.egg-info/SOURCES.txt
elasticite/elasticite.egg-info/top_level.txt
files/2018-11-20_screenshot grille_v1_tore.mov
files/2018-11-19_screenshot grille_v1_tore.mov
